<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Pizza Shop</title>
</head>


<body>
  <nav>
        <ul>
               <li>
               <a href="/pizza-orders">Pizza Orders</a>
               </li>
        </ul>
      </nav>
<%= yield %>
</body>
</html>
